{% extends "base.html" %}
{% load user_filters %}
{% block  title %}
  {% if not is_edit %}
    Новый пост
  {% else %}
    Редактировать пост
  {% endif %}
{% endblock %}
{% block heading %}{% endblock %}
{% block content %}
  <main>
    <div class="container py-5">
      <div class="row justify-content-center">
        <div class="col-md-8 p-5">
          <div class="card">
            <div class="card-header">       
              {% if not is_edit %}
                Новый пост
              {% else %}
                Редактировать пост
              {% endif %}            
            </div>
            <div class="card-body">
            {% include 'includes/labels_and_token.html' with create_post_page=True %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
