{% extends "base.html" %}
{% block title %}Записи сообщества {{ group.title }}{% endblock %}
{% block heading %}{{ group.title }}{% endblock %}
  {% block content %}
    <p>{{ group.description|linebreaksbr }}</p>
    {% for post in page_obj %}
      {% include "includes/article.html" with group_link_on_page_noname=True %}
      <a href="{% url "posts:post_detail" post.id %}">подробная информация</a>
      {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
    {% include 'posts/includes/paginator.html' %}
  {% endblock %}
